/* General index and details style + Specific index style*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

#body {
    
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}

h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

.restrict {
    width: 100%;
    margin: 0 auto;
  }

  .table-container {
    width: 100%;
    min-height: 100vh;
    
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .table-wrapper {
    width: 900px;
  }

  .table-general h2 {
    margin-bottom: 30px;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  table * {
    position: relative;
  }

  table td {
    padding-left: 8px;
  }

  table thead tr {
    height: 60px;
    background: #36304a;
  }

  table tbody tr {
    height: 50px;
  }

  table tbody tr:last-child {
    border: 0;
  }

  table td, table th {
    text-align: left;
  }

  table td.l, table th.l {
    text-align: right;
  }

  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }

  .invent-row th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }

  .altrow {
    background-color: #e0e0e0;
  }

  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: rgb(53, 50, 50);
    line-height: 1.2;
    font-weight: unset;
  }

  tbody tr:hover {
    color: #555555;
    background-color: #e0e0e0;
  }

  .column1 {
    width: 150px;
    padding-left: 20px;
  }
  
  .column2 {
    width: 260px;
  }
  
  .column3 {
    width: 245px;
  }
  
  .column4 {
    width: 150px;
    text-align: left;
  }

  #tag {
    text-align: center;
  }
  
  .column5 {
    width: 120px;
    text-align: right;
  }

  .column6 {
    width: 170px;
    text-align: right;
  }

  .column7 {
    width: 222px;
    text-align: right;
    padding-right: 20px;
  }

  @media screen and (max-width: 992px) {
    table {
      display: block;
    }

    table > *, table tr, table td, table th {
      display: block;
    }

    table thead {
      display: none;
    }

    table tbody tr {
      height: auto;
      padding: 37px 0;
    }

    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }

    table tbody tr td:last-child {
      margin-bottom: 0;
    }

    table tbody tr td:before {
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3,
    .column7 {
      width: 100%;
    }
  }
  @media (max-width: 576px) {
    .table-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  button {
  background-color: #08d;
  border-radius: 30px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  }


  input {
    margin-left: 10px;
  }


  /* Specific details style*/

  .row-control tr {
    margin-bottom: 30px;
  }

  #td1 {
    height: 20px;
    background: #3c13c5;
  }

  #td2 {
    height: 20px;
    background: #36304a;
  }

  .image {
    width: 15px;
    height: 13px;
  }

  













/*.required label::after {
    content: "*";
    color: red;
    display: inline;
    font-size: 1.5em;
}

.required label {
    font-weight: bolder;
    
}

label {
    font-weight: bold;
}
